<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - edit the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Additional Pension Calculator
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}


<div class="nhsuk-back-link">
  <a class="nhsuk-back-link__link" href="javascript:history.back()">
      <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
<path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
</svg>
      Go back
  </a>
</div>
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <form action="dependant-cover" method="post">

      <!-- Add content here -->
      <div class="nhsuk-form-group">

        <fieldset class="nhsuk-fieldset">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            <h1 class="nhsuk-fieldset__heading">
              How much additional pension would you like to purchase?
            </h1>
          </legend>

        <p>Since 1 April 2024, the maximum amount you can apply for in the 2015 Scheme is £8,574. This amount may change in the future.</p>
        <p>The maximum amount you can buy will be affected by any previous additional pension contracts you may have. </p>
        <p>Because you have already bought [Dynamic based on previous additional contract][x] additional pension in a previous contract, you can buy [x]  </p>
        
        
          <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="additional-pension-value">
             Choose amount
            </label>
            <select class="nhsuk-select" id="additional-pension-value" name="additional-pension-value">
              <option value="1">£250</option>
              <option value="2">£500</option>
              <option value="3">£750</option>
              <option value="4">£1000</option>
              <option value="5">£1250</option>
              <option value="6">£1500</option>
              <option value="7">£1750</option>
              <option value="8">£2000</option>
              <option value="9">£2250</option>
              <option value="10">£2500</option>
              <option value="11">£2750</option>
              <option value="12">£3000</option>
              <option value="13">£3250</option>
              <option value="14">£3500</option>
              <option value="15">£3750</option>
              <option value="16">£4000</option>
              <option value="17">£4250</option>
              <option value="18">£4500</option>
              <option value="19">£4750</option>
              <option value="20">£5000</option>
              <option value="21">£5250</option>
              <option value="22">£5500</option>
              <option value="23">£5750</option>
              <option value="24">£6000</option>
              <option value="25">£6250</option>
              <option value="26">£6500</option>
              <option value="27">£6750</option>
              <option value="28">£7000</option>
              <option value="29">£7250</option>
              <option value="30">£7500</option>
              <option value="31">£7750</option>
              <option value="32">£8000</option>
              <option value="33">£8250</option>
              <option value="34">£8500</option>
              <option value="35">£8575</option>
            </select>
          </div>
        
        </fieldset>
      
      </div>
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->

      <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
        Continue
      </button>

      <!-- End of content -->
    </form>
    </div>  

  </div>
{% endblock %}
