<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - edit the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Additional Pension Calculator
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}


<div class="nhsuk-back-link">
  <a class="nhsuk-back-link__link" href="javascript:history.back()">
      <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
<path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
</svg>
      Go back
  </a>
</div>
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <form action="payment-option" method="post">

      <!-- Add content here -->
      <div class="nhsuk-form-group">

        <fieldset class="nhsuk-fieldset">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            <span class="nhsuk-caption-l nhsuk-caption--bottom">Your additional pension</span>
            <h1 class="nhsuk-fieldset__heading">Paying for your additional pension</h1>
          </legend>

          <p>You can buy additional pension with a single one-off payment or by regular monthly payments.  </p>

            <h4>Compare a single one-off payment and monthly repayments</h4>

        <p>Understand the differences between these options. </p>

            <h4>Single one-off payment</h4>

        <p>Buying your additional pension with a single one-off payment.</p>

        <p>You should pay the one-off payment to your employer, and they will make the payment to us. </p>
         
            <h4>You will pay slightly less with a single one-off payment</h4>

        <p>If you buy additional pension with a single one-off payment, you will pay slightly less than if you pay with regular monthly payments.</p>

        <p>This is because a single one-off payment is calculated based on only your age.</p>

            <h4>Regular monthly payments</h4>

        <p>Buying your additional pension with regular monthly payments deducted from your pay.</p>

        <p>With regular monthly payments:</p>
        <ul>
          <li>you will pay over an agreed period from 1 year to 20 years</li>
          <li>you will usually pay the same amount each month</li>
          <li>payments will start from the date your employer receives your agreement</li>
          <li>your employer will not take deductions from your pay until we confirm acceptance in writing</li>
          <li>your first deduction will be more than 1 month because your employer will backdate it</li>
        </ul>

        <p>Following reviews of the Scheme, the cost of future instalments of an existing arrangement could be changed.</p>

            <h4>You will pay slightly more with monthly payments</h4>

        <p>If you buy additional pension with regular monthly payments, you will pay slightly more than if you pay with a single one-off payment.</p>

        <p>This is because the cost is based on your normal pension age and you are paying by instalments over a longer period of time compared to a single one-off payment.</p>

         <p><a href="https://www.nhsbsa.nhs.uk/member-hub/increasing-your-pension/additional-pension" target="_blank">Read more about buying additional pension (opens in new tab).</a></p>

           <h4>Check your NHS earnings cover the monthly repayments</h4>

        <p>Check your NHS earnings before deciding to buy additional pension by regular monthly payments.</p>

        <p>Will they meet the cost of paying both the monthly payments and your normal tiered contributions every month?</p>

        <p>If your NHS earnings are not enough to meet this cost, you can still buy additional pension with a single one-off payment.</p>

        <h2>How would you like to pay for your additional pension?</h2>

  <div class="nhsuk-radios">
      
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="payment-lumpsum" name="payment-option" type="radio" value="lumpsum">
              <label class="nhsuk-label nhsuk-radios__label" for="payment-lumpsum">
                A single one-off payment
              </label>
            </div>
      
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="payment-instalment" name="payment-option" type="radio" value="instalments">
              <label class="nhsuk-label nhsuk-radios__label" for="payment-instalment">
                Regular monthly payments
              </label>
            </div>
      
          </div>

        </fieldset>
      
      </div>
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->
     

      <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
        Continue
      </button>

      <!-- End of content -->
    </form>
    </div>  

  </div>
{% endblock %}
