<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - edit the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Additional Pension Calculator
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}


<div class="nhsuk-back-link">
  <a class="nhsuk-back-link__link" href="javascript:history.back()">
      <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
<path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
</svg>
      Go back
  </a>
</div>
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <form action="PCA" method="post">

      <!-- Add content here -->
      <div class="nhsuk-form-group">

        <fieldset class="nhsuk-fieldset">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            <span class="nhsuk-caption-l nhsuk-caption--bottom">Previous additional pension contracts</span>
            <h1 class="nhsuk-fieldset__heading">
              Enter the total amount of your previous additional pension contracts
            </h1>
          </legend>

          <p>
            If you have multiple previous additional pension contracts in the 2015 Scheme, enter the total amount.
            <br>
            <br>This does not include any additional pension contracts from the 1995/2008 Sections.  
          </p>

          <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="contracts-value">
              Amount in pounds
            </label>
            <div class="nhsuk-input__wrapper">
          
              <div class="nhsuk-input__prefix" aria-hidden="true">£</div>
          
              <input class="nhsuk-input nhsuk-input--width-5" id="contracts-value" name="contracts-value" type="text">
            </div>
          
          </div>
        
        </fieldset>
      
      </div>
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->

      <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
        Continue
      </button>

      <!-- End of content -->
    </form>
    </div>  

  </div>
{% endblock %}
