<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - edit the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Additional Pension Calculator
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}



{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}


{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}



  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

        <form action="start2" method="post">

      <!-- Change the page heading -->
      <h1>
        Additional Pension Calculator
      </h1>

      <!-- Add content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->

     

      <p>Use this service to calculate your additional pension.</p>
      

      <div class="nhsuk-inset-text">
        <span class="nhsuk-u-visually-hidden">Information: </span>
        <p class="nhsuk-u-font-weight-normal"> This service is only for active contributing members of the 2015 Pension Scheme.
          You cannot buy additional pension to increase benefits from the 1995 or 2008 Schemes. 
          These schemes closed on 31 March 2022.
        </p>
      </div>

      <details class="nhsuk-details">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            What is additional pension?
          </span>
        </summary>
        <div class="nhsuk-details__text">
      
          <p class="nhsuk-u-font-weight-normal">Additional pension allows you to buy extra annual pension if you're an active NHS pension member.</p>
          <p class="nhsuk-u-font-weight-normal">You can do this by:</p>
          <ul>
            <li>a single one-off payment (lump sum)</li>
            <li>regular monthly payments for an agreed period. 
              From 1 year up to a maximum of 20 years.</li>
          </ul>
          <p>You must complete all payments before your normal pension age (NPA). Your normal pension age is the same as your State Pension Age or 65, if that is later. </p>
      <p>Additional pension can be bought at any time during the year. 
        This can be just for you or it can also provide benefits for your dependants in the event of your death. 
        It does not include an automatic lump sum on retirement, 
        but you can exchange some of your additional pension to provide a lump sum on retirement.</p>
        </div>
      </details>
      <br>

      <h3>What should you do after you calculate your additional pension</h3>
      <p class="nhsuk-u-font-weight-normal">Once you calculate how much additional pension you would like, the calculator will give you a partially completed Election to purchase additional pension (AP1) form.</p>
      <p class="nhsuk-u-font-weight-normal">It will take up to 6 weeks to confirm your application for additional pension.</p>

      <p class="nhsuk-u-font-weight-normal">You should complete the form and give it to your employer or Pension Officer within 6 weeks of your calculation.</p>
<br>
      <h3>When to apply for Additional Pension</h3>
     <p class="nhsuk-u-font-weight-normal">If your birthday is in the next 6 weeks, you should wait until after your birthday. Then you can do the calculation and send it to your employer.</p>
     
     <details class="nhsuk-details">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text">
          Why do I have to wait until after my birthday?
        </span>
      </summary>
      <div class="nhsuk-details__text">
    
        <p>When you give us your birthday, we can:</p>
        <ul>
          <li>make sure you are under the SPA and able to buy additional pension</li>
          <li>calculate how many years until you reach the SPA</li>
        </ul>
        <p>This means the calculation is valid until your next birthday.</p>
    
      </div>
    </details>
     </form>
     <br>
     <h3>
      Before you start
    </h3>

    <p class="nhsuk-u-font-weight-normal"> We'll ask you:</p>

    <ul>
      <li>for your date of birth</li>
      <li>for any previous additional pension contracts you may have  in the 2015 Scheme</li>
      <li>how much additional pension you would like </li>
      <li>if you would like dependant cover</li>
      <li>how you will buy your additional pension</li>
    </ul>
      <p> Make sure you read the <a href="https://www.nhsbsa.nhs.uk/sites/default/files/2023-11/Added%20Benefits-Additional%20Pension%20factsheet-20231020.pdf" target="_blank">additional pension factsheet</a> before you complete the form.</p>

      {{ button({
        "href": "date-of-birth",
        "text": "Start now"
        }) }}

      <p class="nhsuk-body-s nhsuk-u-secondary-text-color nhsuk-u-margin-top-7 nhsuk-u-margin-bottom-0">
        Page last reviewed: 21 March 2025<br>
      </p>

      <!-- End of content -->
   
    </form>
    </div>  

  </div>
{% endblock %}
