<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - edit the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Additional Pension Calculator
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}

</br>
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <div class="nhsuk-phase-banner no-border">
      <p class="nhsuk-phase-banner__content">
        <strong class="nhsuk-tag nhsuk-phase-banner__content__tag">
          Beta
        </strong>
        <span class="nhsuk-phase-banner__text">
          This is a new service - your <a class="nhsuk-link" href="#">feedback</a> will help us to improve it.
        </span>
      </p>
    </div>              
  </div>
</div>

<div class="nhsuk-back-link">
  <a class="nhsuk-back-link__link" href="javascript:history.back()">
      <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
<path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
</svg>
      Go back
  </a>
</div>
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-full">

      <form action="previous-contracts" method="post">

      <!-- Add content here -->
      <div class="nhsuk-form-group">

        <fieldset class="nhsuk-fieldset">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            <h1 class="nhsuk-fieldset__heading">
              Do you have any previous additional pension contracts?
            </h1>
          </legend>

          <div class="nhsuk-hint" id="contact-hint">
            Any previous additional pension contracts from the 2015 scheme will affect your final calculation.
          </div>
      
          <div class="nhsuk-radios">
      
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="contract-yes" name="contract" type="radio" value="yes">
              <label class="nhsuk-label nhsuk-radios__label" for="contract-yes">
                Yes
              </label>
            </div>
      
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="contract-no" name="contract" type="radio" value="no">
              <label class="nhsuk-label nhsuk-radios__label" for="contract-no">
                No
              </label>
            </div>
      
          </div>
        </fieldset>
      
      </div>
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->
     

      <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
        Continue
      </button>

      <!-- End of content -->
    </form>
    </div>  

  </div>
{% endblock %}
