<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Additional Pensions Calculator
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full-width">

      <span class="nhsuk-caption-xl">Pensions PoC</span>
      <h1 class="nhsuk-heading-xl nhsuk-u-margin-bottom-3">Additional Pensions Calculator</h1>
      <p>A calculation service to users who wish to know how much an additional pension contribution will cost.</p>

      <!-- ======================================= -->
      <!-- ITERATIONS -->
      <!-- ======================================= -->

<h2 class="nhsuk-heading-l">Prototype Iterations</h2>

<table role="table" class="nhsuk-table-responsive">
  <caption class="nhsuk-table__caption">7th May to 5th June 2024</caption>
    <thead role="rowgroup" class="nhsuk-table__head">
      <tr role="row">
        <th role="columnheader" class="" scope="col">
          Version
        </th>
        <th role="columnheader" class="" scope="col">
          Status
        </th>
        <th role="columnheader" class="" scope="col">
          Notes
        </th>
        <th role="columnheader" class="" scope="col">
          Action
        </th>
      </tr>
    </thead>
    <tbody class="nhsuk-table__body">
      <tr role="row" class="nhsuk-table__row">
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Version </span>v1
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Status </span>
          <span class="nhsuk-tag nhsuk-tag--green">Done</span>
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Notes </span>
          <ul>
            <li><a href="https://miro.com/app/board/uXjVKKdz3U0=/?share_link_id=253315986847" target="_blank">Miro board (password: pensions)</a></li>
          </ul>
          <ul>
            <li>Prototype has been demoed and signed off for MVP production</li>
          </ul>
        </td>
         <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Action </span>
            <p><a href="v1/start">Start</a></p>
        </td>
      </tr>
      </tr>
    </tbody>

    <tbody class="nhsuk-table__body">
      <tr role="row" class="nhsuk-table__row">
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Version </span>v2
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Status </span>
          <span class="nhsuk-tag nhsuk-tag--green">Done</span>
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Notes </span>
          <ul>
            <li><a href="https://miro.com/app/board/uXjVKKdz3U0=/?moveToWidget=3458764621824794993&cot=14" target="_blank">Miro board (password: pensions)</a></li>
          </ul>
          <ul>
            <li>Prototype is in progress</li>
          </ul>
        </td>
         <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Action </span>
            <p><a href="v2/start">Start</a></p>
        </td>
      </tr>
      </tr>
    </tbody>

    <tbody class="nhsuk-table__body">
      <tr role="row" class="nhsuk-table__row">
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Version </span>v2
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Status </span>
          <span class="nhsuk-tag nhsuk-tag--green">Done</span>
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Notes </span>
          <ul>
            <li><a href="https://additional-pensions-calculator-7a3de41ed796.herokuapp.com/v2/addtional-screens/service-unavailable" target="_blank">Service unavailable screen</a></li>
          </ul>
          <ul>
            <li><a href="https://additional-pensions-calculator-7a3de41ed796.herokuapp.com/v2/addtional-screens/planned-downtime" target="_blank">Planned downtime screen</a></li>
          </ul>
        </td>
         <td role="cell" class="nhsuk-table__cell">
          
        </td>
      </tr>
      </tr>
    </tbody>
  </table>

    </div>
  </div>
{% endblock %}
